<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>#DF16 - Astro</title>

    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo-wrapper">
                <div class="logo-copy">
                    #DF16 - Astro
                </div>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#track">Track</a>
                </li>
                <li>
                    <a href="#how">How?</a>
                </li>
                <li>
                    <a href="#">Login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Header -->
<a name="top"></a>
<div class="intro-header">
    <div class="image-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>#DF16 - Astro</h1>
                    <h2>Track your orders with Salesforce and Alexa.</h2>
                    <h2>"Ask Astro, where are my orders?"</h2>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="http://www.salesforce.com" target="_blank"><img class="vendor-logo"
                                                                                     src="/static/img/salesforce.png"></a>
                        </li>
                        <li>
                            <a href="http://www.amazon.com/oc/echo/" target="_blank"><img class="vendor-logo"
                                                                                          src="/static/img/alexa.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a name="track"></a>
<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading purple-section-heading">Track your orders</h2>
                <p class="lead">Enter the email address you used when creating the order.</p>
                <p class="lead">Provide the order number sent to you in email.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <h2 class="section-heading purple-section-heading">&nbsp;</h2>
                <form name="track-form" id="track-form" class="form-horizontal purple-spacer">
                    <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="email" name="email" type="text" placeholder="Email"
                                       class="form-control input-md">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input id="order" name="order" type="text" placeholder="Order Number"
                                       class="form-control input-md">
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" id="track" name="track" class="btn btn-primary pull-right">Track
                                    my package
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12" id="results">
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<a name="how"></a>
<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading astro-section-heading">How it works?</h2>
                <div class="astro-step">Step 1</div>
                <p class="lead">Add tracking numbers to your orders in Salesforce.</p>
                <div class="astro-step">Step 2</div>
                <p class="lead">Astro identifies your carrier then updates your orders with the latest delivery
                    status.</p>
                <div class="astro-step">Step 3</div>
                <p class="lead">Astro alerts you and your customers once a delivery is confirmed.</p>
                <div class="astro-step">Step 4</div>
                <p class="lead">Use Amazon Alexa to check the status of your order shipments.</p>
                <p class="lead">"Alexa, ask Astro, where are my orders?"</p>
            </div>

            <div class="col-lg-5 col-lg-offset-2 col-sm-6 text-center">
                <img class="box-the-image" src="/static/img/cameras.png" alt="">
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Scott Umsted - All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script>

        $(function () {
            $('#track-form').submit(function () {
                var data =
                {
                    sender: $('#email').val(),
                    subject: $('#order').val(),
                };
                var url = "/purple/track";
                $.ajax({
                    url: url,
                    jsonp: "callback",
                    dataType: "jsonp",
                    data: data,
                    success: function (response) {
                        console.log(response);
                        $('#results').text(response.message);
                        document.getElementById("track-form").reset();
                    }
                });

                return false;
            });
        });
    </script>
</body>

</html>
